name: Push-to-EC2

# Trigger deployment only on push to master branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to EC2 on main branch push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the files
        uses: actions/checkout@v2

      
      - name: Deploy to Server 1
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEYC }}
          REMOTE_HOST: ${{ secrets.HOST_DNSC }}
          REMOTE_USER: ${{ secrets.USERNAMEC }}
          TARGET: ${{ secrets.TARGET_DIRC }}

